<div class="col-lg-10 offset-lg-1">
    <div class="user-heading">
      <h3>ALL BALANCES</h3>
      <ul class="list-unstyled">
        
          <li class="list-inline-item filter-first"> 
              <form class="form-inline">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by:</label>
                  <select class="custom-select" id="inlineFormCustomSelectPref">
                      <option value="volvo">SUMMARY</option>
                      <option value="saab">BTC</option>
                      <option value="opel">BCH</option>
                      <option value="audi">LTC</option>
                      <option value="audi">ETH</option>
                      <option value="audi">AUD</option>
                  </select>
                  </form>
            </li>
          <li class="list-inline-item"><input type="text" class="form-control" id="inputPassword" placeholder="Account ID"> </li>
          <li class="list-inline-item"><input type="email" class="form-control" id="inputPassword" placeholder="Email">  </li>
        </ul>
      <h4><a href="">Export CSV</a></h4>
      <div class="tabels-dropdown">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Account ID</th>
                  <th>Email</th>
                  <th>Currency</th>
                  <th>Balance</th>
                  <th>Locked</th>
                  <th>Pending Deposits</th>
                  <th> Pending Withdrawals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123</td>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>Summary </td>
                  <td> $200,000</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>123</td>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>Summary </td>
                  <td> $200,000</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>123</td>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>Summary </td>
                  <td> $200,000</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>123</td>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>Summary </td>
                  <td> $200,000</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>123</td>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>Summary </td>
                  <td> $200,000</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>