<div class="col-lg-10 offset-lg-1">
  <div class="user-heading">
    <!-- <h3>ALL BALANCES</h3> -->
    <ul class="list-unstyled">
      
        <li class="list-inline-item filter-first"> 
            <form class="form-inline">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by:</label>
                <input type="text" class="form-control" id="inputPassword" placeholder="Ask Members">
                </form>
          </li>
        <li class="list-inline-item"><input type="text" class="form-control" id="inputPassword" placeholder="Bid Member"> </li>
        <li class="list-inline-item"><input type="email" class="form-control" id="inputPassword" placeholder="Currency">  </li>
      </ul>
    <h4><a href="">Export CSV</a></h4>
    <div class="tabels-dropdown">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th> ID</th>
                <th>Currency</th>
                <th>Ask</th>
                <th>BalAsk member</th>
                <th>Bid</th>
                <th>Bid Member</th>
                <th> Price</th>
                <th> Volume </th>
                <th> Strike Amount </th>
                <th>Created at</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>547</td>
                <td> BCHAUD  </td>
                <td>11710184 </td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>11710185</td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>1034.69</td>
                <td>0.5</td>
                <td>517.345</td>
                <td>8/02/2018 <br> 00.27</td>
              </tr>
              <tr>
                <td>547</td>
                <td> BCHAUD  </td>
                <td>11710184 </td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>11710185</td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>1034.69</td>
                <td>0.5</td>
                <td>517.345</td>
                <td>8/02/2018 <br> 00.27</td>
              </tr>
              <tr>
                <td>547</td>
                <td> BCHAUD  </td>
                <td>11710184 </td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>11710185</td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>1034.69</td>
                <td>0.5</td>
                <td>517.345</td>
                <td>8/02/2018 <br> 00.27</td>
              </tr>
              <tr>
                <td>547</td>
                <td> BCHAUD  </td>
                <td>11710184 </td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>11710185</td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>1034.69</td>
                <td>0.5</td>
                <td>517.345</td>
                <td>8/02/2018 <br> 00.27</td>
              </tr>
              <tr>
                <td>547</td>
                <td> BCHAUD  </td>
                <td>11710184 </td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>11710185</td>
                <td><a href=""> email@gmail.com </a> </td>
                <td>1034.69</td>
                <td>0.5</td>
                <td>517.345</td>
                <td>8/02/2018 <br> 00.27</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>