<div class="col-lg-10 offset-lg-1">
    <div class="user-heading">
      <h3>SUMMARY</h3>
      <!-- <ul class="list-unstyled">
        
          <li class="list-inline-item filter-first"> 
              <form class="form-inline">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by:</label>
                  <select class="custom-select" id="inlineFormCustomSelectPref">
                      <option value="volvo">SUMMARY</option>
                      <option value="saab">BTC</option>
                      <option value="opel">BCH</option>
                      <option value="audi">LTC</option>
                      <option value="audi">ETH</option>
                      <option value="audi">AUD</option>
                  </select>
                  </form>
            </li>
          <li class="list-inline-item"><input type="text" class="form-control" id="inputPassword" placeholder="Account ID"> </li>
          <li class="list-inline-item"><input type="email" class="form-control" id="inputPassword" placeholder="Email">  </li>
        </ul> -->
      <!-- <h4><a href="">Export CSV</a></h4> -->
      <div class="tabels-dropdown">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>CURRENCY</th>
                  <th>CLIENTS LOCKED</th>
                  <th>CLIENTS AVAILABLE</th>
                  <th>BITGO HOT</th>
                  <th> BITGO WARM</th>
                  <th>CLIENTS TOTAL</th>
                  <th> LEX TOTAL</th>
                  <th>DELTA (Lex total - Client Total)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>AUD</td>
                  <td> 1000 </td>
                  <td>1000 </td>
                  <td> 0</td>
                  <td>0</td>
                  <td>2000</td>
                  <td>0</td>
                  <td></td>
                </tr>
                <tr>
                    <td>BTC</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>BCH</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>LTC</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ETH</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>XRP</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>