<div class="col-lg-10 offset-lg-1">
  <div class="user-heading">
    <h3>USER</h3>
    <ul class="list-unstyled">
      
        <li class="list-inline-item filter-first"> 
            <form class="form-inline">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by:</label>
                <input type="email" class="form-control" id="inputPassword" placeholder="email">
                </form>
          </li>
        <li class="list-inline-item"><input type="password" class="form-control" id="inputPassword" placeholder="First name"> </li>
        <li class="list-inline-item"><input type="password" class="form-control" id="inputPassword" placeholder="Last Name">  </li>
        <li class="list-inline-item"><input type="password" class="form-control" id="inputPassword" placeholder="Mobile"> </li>
        <li class="list-inline-item "> 
            <form class="form-inline">
                <select class="custom-select" id="inlineFormCustomSelectPref">
                    <option value="volvo">Ready to review</option>
                    <option value="saab">New</option>
                    <option value="opel">in Review</option>
                    <option value="audi">Approved</option>
                    <option value="audi">Rejected</option>
                    <option value="audi">Need Further Action</option>
                </select>
                </form>
          </li>
    
      </ul>
    <h4><a href="">Export CSV</a></h4>
    <div class="tabels-dropdown">
        <table class="table table-bordered">
            <thead>
              <tr>
               
                <th>Email</th>
                <th>Mobile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Level</th>
                <th>Kyc status</th>
                <th>Lastsign in</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href=""> email@gmail.com </a> </td>
                <td> 6140214435</td>
                <td>John </td>
                <td> Smith</td>
                <td>Admin</td>
                <td>2</td>
                <td>Approved</td>
                <td>27/12/2018 3:43 </td>
              </tr>
              <tr>
                 
                  <td><a href=""> email@gmail.com </a> </td>
                  <td> 6140214435</td>
                  <td>John </td>
                  <td> Smith</td>
                  <td>Admin</td>
                  <td>2</td>
                  <td>Approved</td>
                  <td>27/12/2018 3:43 </td>
              </tr>
              <tr>
                 
                  <td><a href=""> email@gmail.com </a> </td>
                  <td> 6140214435</td>
                  <td>John </td>
                  <td> Smith</td>
                  <td>Admin</td>
                  <td>2</td>
                  <td>Approved</td>
                  <td>27/12/2018 3:43 </td>
              </tr>
              <tr>
                 
                  <td><a href=""> email@gmail.com </a> </td>
                  <td> 6140214435</td>
                  <td>John </td>
                  <td> Smith</td>
                  <td>Admin</td>
                  <td>2</td>
                  <td>Approved</td>
                  <td>27/12/2018 3:43 </td>
              </tr>
              <tr>
                 
                  <td><a href=""> email@gmail.com </a> </td>
                  <td> 6140214435</td>
                  <td>John </td>
                  <td> Smith</td>
                  <td>Admin</td>
                  <td>2</td>
                  <td>Approved</td>
                  <td>27/12/2018 3:43 </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>