<div class="col-lg-10 offset-lg-1">
    <div class="user-heading">
      <h3>DEPOSITS</h3>
      <ul class="list-unstyled">
        <li class="list-inline-item">FILTER BY</li>
          <li class="list-inline-item filter-first"> 
              <form class="form-row">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Email</label>
                  <input type="text" class="form-control" id="inputPassword" placeholder="email">
                  </form>
            </li>
            <li class="list-inline-item filter-first"> 
                <form class="form-row">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Currency </label>
                    <select class="custom-select" id="inlineFormCustomSelectPref">

                        <option value="volvo">ALL</option>
                        <option value="saab">BTC</option>
                        <option value="opel">BCH</option>
                        <option value="audi">LTC</option>
                        <option value="audi">ETH</option>
                    </select>
                    </form>
              </li>
              <li class="list-inline-item filter-first"> 
                  <form class="form-row">
                      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">State</label>
                      <select class="custom-select" id="inlineFormCustomSelectPref">
                          <option value="volvo">ALL</option>
                          <option value="saab">Submitting</option>
                          <option value="opel">Submitted</option>
                          <option value="audi">Rejected</option>
                          <option value="audi">Cancelled</option>
                          <option value="audi">Accepted</option>
                          <option value="audi">Checked</option>
                          <option value="audi">Warning</option>  
                      </select>
                      </form>
                </li>

        </ul>
      <h4><a href="">Export CSV</a></h4>
      <div class="tabels-dropdown">
          <table class="table table-bordered">
              <thead>
                <tr>
                  
                  <th>Email</th>
                  <th>CURRENCY</th>
                  <th>Amount</th>
                  <th>Confirmations</th>
                  <th>State</th>
                  <th>Txid</th>
                  <th> CREATED</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href=""> email@gmail.com </a> </td>
                  <td>BTC</td>
                  <td>0.628</td>
                  <td>3 </td>
                  <td>Accepted</td>
                  <td>2RET1542565644</td>
                  <td>01/08/2018 16:42</td>
                </tr>
                <tr>
                    <td><a href=""> email@gmail.com </a> </td>
                    <td>BTC</td>
                    <td>0.628</td>
                    <td>3 </td>
                    <td>Accepted</td>
                    <td>2RET1542565644</td>
                    <td>01/08/2018 16:42</td>
                </tr>
                <tr>
                    <td><a href=""> email@gmail.com </a> </td>
                    <td>BTC</td>
                    <td>0.628</td>
                    <td>3 </td>
                    <td>Accepted</td>
                    <td>2RET1542565644</td>
                    <td>01/08/2018 16:42</td>
                </tr>
                <tr>
                    <td><a href=""> email@gmail.com </a> </td>
                    <td>BTC</td>
                    <td>0.628</td>
                    <td>3 </td>
                    <td>Accepted</td>
                    <td>2RET1542565644</td>
                    <td>01/08/2018 16:42</td>
                </tr>
                <tr>
                    <td><a href=""> email@gmail.com </a> </td>
                    <td>BTC</td>
                    <td>0.628</td>
                    <td>3 </td>
                    <td>Accepted</td>
                    <td>2RET1542565644</td>
                    <td>01/08/2018 16:42</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>